{% extends 'base.html' %}

{% block body %}

<h4 style="margin-top: 30px; margin-left: 60px"><b>💵 É POSSÍVEL OBTER LUCRO COM APOSTAS ESPORTIVAS! 💵</b></h4>
<p style="margin-left: 60px">Cada rodada, de qualquer campeonato mundial, oferece boas oportunidades de se obter lucro, basta encontrá-las.</p>
<p style="margin-left: 60px">Utilizando o SOCCERPRED, as oportunidades vão até você. Elas combinam uma <b>alta previsão de vitória</b> com um <b>retorno adequado</b>.</p>
<p style="margin-left: 60px">No longo prazo, é possível ter uma rentabilidade adequada, ao apostar nas dicas sugeridas, como observado na seção <b>"Rentabilidade"</b>.</p>

<h2 style="margin-top: 30px; margin-left: 60px">Atualização dos dados</h2>
<p style="margin-left: 60px">Os dados das partidas de futebol são retirados do site: <b>https://fbref.com/en/</b>.</p>
<p style="margin-left: 60px">As odds são retiradas do site: <b>https://www.flashscore.com/</b>.</p>
<p style="margin-left: 60px">A base é <b>atualizada toda terça-feira</b> com os resutados dos jogos que ocorreram na semana e com as dicas para a semana seguinte.</p>
<p style="margin-left: 60px">As melhores oportunidades de aposta da rodada são as linhas destacadas em <b><span style="color: green;">verde</span></b> e as apostas com texto em <b><span style= "color: yellow; background-color: grey;"">amarelo</span></b> na tabela da seção <b>"Próximos Jogos"</b>.</p>


{% endblock %}
