{% extends 'base.html' %}

{% block head %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}

{% block body %}

<h1 style="margin-top: 20px; margin-left: 60px;">Rentabilidade</h1>

<dialog id="modal">
    <h2 style="text-align: center;">Premissas</h2>
    <p>Aposta Segura ➜ Apostar R$ 20.</p>
    <p>Apostas Média ➜ Apostar R$ 15.</p>
    <p>Apostas Arriscada ➜ Apostar R$ 10.</p>
    <button class="btn btn-sn btn-outline-primary w-100 close-button">close modal</button>
</dialog>

<form id="filterForm" class="filter-form">
    <label for="filter_choice" class="filter-label">Filtrar por:</label>
    <select name="filter_choice" id="filter_choice"  class="filter-select">
        <option value="all">All</option>
        <option value="safest_bet">Aposta Segura</option>
        <option value="safe_bet">Aposta Média</option>
        <option value="risky_bet">Aposta Arriscada</option>
    </select>
    <button type="submit" id="applyFilterButton" class="btn btn-sn btn-outline-primary w-20">Aplicar Filtro</button>
    <button type="button" id="premissasButton" class="btn btn-sn btn-outline-primary open-button">Premissas</button>
</form>


<div class="containerEvolution" id="metrics_card">
    <div class="cardEvolution">
        <div class="card-header">
            <h5 class="card-title">Inicial</h5>
        </div>
        <div class="card-body">
            <p class="card-text" id="inicial">{{ inicial }}</p> <!-- Display the length of the filtered dataframe -->
        </div>
    </div>

    <div class="cardEvolution">
        <div class="card-header">
            <h5 class="card-title">Atual</h5>
        </div>
        <div class="card-body">
            <p class="card-text" id="atual">{{ atual }}</p> <!-- Display the length of the filtered dataframe -->
        </div>
    </div>

    <div class="cardEvolution">
        <div class="card-header">
            <h5 class="card-title">Lucro</h5>
        </div>
        <div class="card-body">
            <p class="card-text" id="lucro">{{ lucro }}</p> <!-- Display the length of the filtered dataframe -->
        </div>
    </div>

    <div class="cardEvolution">
        <div class="card-header">
            <h5 class="card-title">Lucro (%)</h5>
        </div>
        <div class="card-body">
            <p class="card-text" id="lucro_perc">{{ lucro_perc }}</p> <!-- Display the length of the filtered dataframe -->
        </div>
    </div>
</div>

<div class="chartContainer">
    <div class="chart-container">
        <canvas id="myChart" style="max-width: 100%; margin-left: 60px"></canvas>
    </div>
</div>



    <!-- Add the other two cards here, based on your requirement -->

<script>

    function getData(event) {
        var targetButtonId = event.target.id;
        if (targetButtonId !== 'applyFilterButton') {
            return; // Do nothing if the button pressed is not 'Apply Filter'
        }

        event.preventDefault(); // Prevent form submission and page refresh

        var indicatorsCard = document.getElementById('metrics_card');
        indicatorsCard.style.display = 'flex';

        var filterChoice = document.getElementById('filter_choice').value;
        var params = {
            filter_choice: filterChoice, // Use the correct key 'filter_choice' to match the Python request.json['filter_choice']
        };

        var xhr = new XMLHttpRequest();

        xhr.open('post', '../output3', true);
        xhr.setRequestHeader('Content-type', 'application/json');

        xhr.onload = function () {
            console.log('Reached');
            var response = JSON.parse(this.responseText);

            var inicial = response.inicial;
            var atual = response.atual;
            var lucro = response.lucro;
            var lucro_perc = response.lucro_perc;
            var chartData = response.chart_data;

            var inicialElement = document.getElementById('inicial');
            var atualElement = document.getElementById('atual');
            var lucroElement = document.getElementById('lucro');
            var lucro_percElement = document.getElementById('lucro_perc');

            inicialElement.innerHTML = inicial;
            atualElement.innerHTML = atual;
            lucroElement.innerHTML = lucro;
            lucro_percElement.innerHTML = lucro_perc;

            // Update the chart with new data
            updateChart(chartData);
        };

        xhr.send(JSON.stringify(params));
    }

    document.getElementById('premissasButton').addEventListener('click', function () {
        const modal = document.querySelector('#modal');
        modal.showModal();
    });

    document.getElementById('applyFilterButton').addEventListener('click', getData);

    function createLineChart(chartData) {
        var ctx = document.getElementById('myChart').getContext('2d');

        var chartLabels = chartData.labels;
        var chartProfit = chartData.chart_profit;

        var datasets = [{
            label: 'Cumulative Profit',
            data: chartProfit,
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 0,
            backgroundColor: 'rgb(128,128,128)',
            fill: {
                target: 'origin',
                below: 'rgba(255, 99, 132, 0.8)',
                above: 'rgba(46, 204, 113, 0.8)'
                },
        }];

        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: chartLabels,
                datasets: datasets,
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Date',
                        },
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Cumulative Profit',
                        },
                    },
                },
            },
        });

        return lineChart; // Return the chart instance to update later
    }

    // Function to update the existing line chart with new data
    function updateChart(chartData) {
        var existingChart = window.myLine; // Get the existing chart instance
        if (existingChart) {
            // If the chart instance exists, destroy it to recreate the updated chart
            existingChart.destroy();
        }

        // Create the updated line chart with new data
        var newChart = createLineChart(chartData);

        // Store the new chart instance globally so it can be accessed later for updates
        window.myLine = newChart;
    }

    const modal = document.querySelector('#modal');
    const openModal = document.querySelector('.open-button');
    const closeModal = document.querySelector('.close-button');

    openModal.addEventListener("click", () => {
      modal.showModal();
    });

    closeModal.addEventListener("click", () => {
      modal.close();
    });
</script>


{% endblock %}
