{% extends 'base.html' %}

{% block body %}

  <div class="container">
      <hr>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <form method="POST" action="" class="border p-3 mt-5">
            {{ form_login.csrf_token }}
            <legend>Login</legend>
              <fieldset>
                <div class="form-group">
                  {{ form_login.email.label(class="form-control-label") }}

                  {% if form_login.email.errors %}
                    {{ form_login.email(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for erro in form_login.email.errors %}
                        {{ erro }}
                    {% endfor %}
                  </div>
                  {% else %}
                    {{ form_login.email(class="form-control") }}
                  {% endif %}


                </div>
                <div class="form-group">
                  {{ form_login.senha.label(class="form-control-label") }}
                  
                  {% if form_login.senha.errors %}
                    {{ form_login.senha(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for erro in form_login.senha.errors %}
                        {{ erro }}
                    {% endfor %}
                  </div>
                  {% else %}
                    {{ form_login.senha(class="form-control") }}
                  {% endif %}
                </div>
                <div class="form-group">
                  {{ form_login.lembrar_dados.label }}
                  {{ form_login.lembrar_dados(class="form-check-input") }}
                </div>
              </fieldset>
              {{ form_login.botao_submit_login(class="btn btn-primary mt-2") }}
          </form>
        </div>
  </div>

{% endblock %}
