{% extends 'base.html' %}

{% block head %}

<head>
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Include DataTables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
</head>

{% endblock %}

{% block body %}

<body>
    <h1 style="margin-top: 20px; margin-left: 60px;">Próximos Jogos</h1>
    <div class="table-container">
      <table id="next_games">
        <thead>
          <tr>
            {% for column in dataframe.columns %}
            <th>{{ column }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for index, row in dataframe.iterrows() %}
          {% set color = '#C0C0C0' %}
            {% if (row['Previsão CASA'] > 0.80 and row['Odds CASA'] > 1.40) or (row['Previsão VISITANTE'] > 0.80 and row['Odds VISITANTE'] > 1.40) %}
              {% set color = '#32CD32' %}
          {% elif (row['Previsão CASA'] > 0.75 and row['Odds CASA'] > 1.60) or (row['Previsão VISITANTE'] > 0.75 and row['Odds VISITANTE'] > 1.60) %}
            {% set color = '#7FFFD4' %}
          {% elif (row['Previsão CASA'] > 0.70 and row['Odds CASA'] > 1.85) or (row['Previsão VISITANTE'] > 0.70 and row['Odds VISITANTE'] > 1.85) %}
            {% set color = '##ADD8E6' %}
          {% endif %}
          <tr style="background-color: {{ color }};">
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>

<script>
$(document).ready(function() {
  $('#next_games').DataTable({
    "paging": true, // Enable pagination
    "searching": false, // Enable searching
    // Add more options as needed
  });
});
</script>

{% endblock %}


